obj/Debug/netcoreapp2.2/FerryBusConnector.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.2/FerryBusConnector.dll
bin/Debug/netcoreapp2.2/FerryBusConnector.pdb
bin/Debug/netcoreapp2.2/FerryBusConnector.deps.json
bin/Debug/netcoreapp2.2/FerryBusConnector.runtimeconfig.json
bin/Debug/netcoreapp2.2/FerryBusConnector.runtimeconfig.dev.json
obj/FerryBusConnector.csproj.nuget.cache
obj/FerryBusConnector.csproj.nuget.g.props
obj/FerryBusConnector.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/FerryBusConnector.dll
obj/Debug/netcoreapp2.2/FerryBusConnector.pdb
obj/Debug/netcoreapp2.2/FerryBusConnector.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/FerryBusConnector.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/FerryBusConnector.assets.cache
obj/Debug/netcoreapp2.2/FerryBusConnector.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/FerryBusConnector.csproj.FileListAbsolute.txt
